{% extends "ggpoll/base.html" %}

{% block content %}
<h1 class="mt-5 text-center">{{ question.question_text }}</h1>

<p class="text-muted text-center">Question {{ question.pk }} of {{ question_count }}</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'ggpoll:ask_question' question.id %}" method="post">
{% csrf_token %}
<div id="answers" class="text-center">
{% for answer in question.gganswer_set.all %}
	<input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}">
	<label class="answer" for="answer{{ forloop.counter }}">{{ answer.answer_text }}</label><br>
{% endfor %}
<input type="submit" value="Perii">
</div>
</form>

{% endblock %}
